.produtos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

}

/* .animeLeft{
  transform: translateX(-20px);
  opacity: 0;
  animation: animeLeft .3s forwards;
  

}
@keyframes animeLeft{
    to{
      transform: initial;
      opacity: initial;
    }
  
  } */

.preco{

}

.descricao{
    
}
.title{
    text-decoration: none;
}